.download,
.image,
.linkedin,
.mail,
.print {
	background-image: url(../images/icons.png);
}

.download {
	background-position: 0px 0px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.image {
	background-position: -18px 0px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.linkedin {
	background-position: 0px -18px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.mail {
	background-position: -18px -18px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.print {
	background-position: -36px 0px;
	display: inline-block;
	width: 16px;
	height: 16px;
}