// Load semantic in before anything else so we can override styles
@import "bourbon";
@import "base/base";
@import "neat/neat";

//@import "semantic";

/*
------------------------------------------------------------
|                         Site styles
------------------------------------------------------------
*/

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEEEEE;
}

#container {
  @include outer-container();
  //  width: 960px;
  //  margin: 0 auto;
  
}

#content {
  padding-left: 2.35765%;
  background-color: #fff;
  @include span-columns(8);
  @include omega();
  //  padding: 0 0 0 20px;
  text-align: justify;
  //  margin: 0 0 30px;
  p {
    line-height: 21px;
  }
}

a img {
  border: 0 none;
}

/*
------------------------------------------------------------
|                         Sidebar styles
------------------------------------------------------------
*/

#sidebar {
  @include span-columns(4);
  margin-right: 0;
  -webkit-box-shadow: inset -10px 0 11px -2px #919191;
  box-shadow: inset -10px 0 11px -2px #919191;

  .profileheader {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }

  #frame {
    @include span-columns(2 of 4);
    @include shift(1);
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
    padding: 15px;
  }

  #details {
    @include span-columns(2 of 4);
    @include shift(1);
    padding: 0;
    //    margin: 30px 0 0 0;
    list-style: none;
    color: #686868;
    font-weight: bold;
    letter-spacing: -1px;
    li {
      margin: 20px 0;
      a {
        color: #686868;
        text-decoration: underline;
        text-transform: uppercase;
        &:hover, &:visited {
          color: #686868;
          text-decoration: none;
        }
      }
    }

    span.heading {
      color: #000000;
      display: block;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: $h5-font-size;
      letter-spacing: -1px;
    }
  }
}

/*
------------------------------------------------------------
|                        Top styles
------------------------------------------------------------
*/

#top {
  @include span-columns(12);
  @include row(table);
  padding: 25px 0 0 0;
  @include clearfix();
  margin-bottom: 25px;

  ul {
    li {
      float: left;
      margin: 0 20px 0 0;
    }
  }
  a {
    padding: 10px 10px 10px 0;
    outline: none;
    &:link, &:visited {
      color: #000;
      text-decoration: none;
    }
    &:hover {
      color: #0085CF;
    }
    i {
      font-size: 25px;
      border-radius: 50%;
      padding: 15px;
      box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;
      border: 1px solid black;
    }
  }

}

.skills {
  @include clearfix();
  ul {
    float: left;
    //    padding-left: 2.5rem;
    list-style: disc;
    @include span-columns(3);
    @include pad(0 0 0 10px);
    @include omega(4n);
  }
}

/*
------------------------------------------------------------
|                        Content styles
------------------------------------------------------------
*/

hr {
  border: 0 none;
  border-bottom: 3px dashed #999;
  clear: both;
  width: 93.75%;;

}

h2 small {
  text-transform: uppercase;
  font-size: 17px;
  color: #999;
}

.job {
  @include span-columns(8 of 8);
  @include row(block);
}

.jobTitle {
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

.jobDescription {
  @include span-columns(7.5 of 8);
  padding-bottom: 20px;
}

.clear {
  clear: both;
  height: 0;
}

.ribbon {
  @include ribbon();
}

&.label {
  background-color: transparent;
  color: white;
}

.clearfix {
  @include clearfix();
}

// Append Pretty Photo Css to cut requests
@import "prettyPhoto";
