@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $foreground-color: nth($color, 1);
  $background-color: transparent !default;
  @if (length($color) == 2) {
    $background-color: nth($color, 2);
  }

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {

    $width: $width / 2;

    @if $direction == up {
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      border-bottom: $height solid $foreground-color;

    } @else if $direction == right {
      border-top: $width solid $background-color;
      border-bottom: $width solid $background-color;
      border-left: $height solid $foreground-color;

    } @else if $direction == down {
      border-left: $width solid $background-color;
      border-right: $width solid $background-color;
      border-top: $height solid $foreground-color;

    } @else if $direction == left {
      border-top: $width solid $background-color;
      border-bottom: $width solid $background-color;
      border-right: $height solid $foreground-color;
    }
  } @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $height solid $foreground-color;

    @if $direction == up-right {
      border-left: $width solid $background-color;

    } @else if $direction == up-left {
      border-right: $width solid $background-color;
    }
  } @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $height solid $foreground-color;

    @if $direction == down-right {
      border-left: $width solid $background-color;

    } @else if $direction == down-left {
      border-right: $width solid $background-color;
    }
  } @else if ($direction == inset-up) {
    border-width: $height $width;
    border-style: solid;
    border-color: $background-color $background-color $foreground-color;
  } @else if ($direction == inset-down) {
    border-width: $height $width;
    border-style: solid;
    border-color: $foreground-color $background-color $background-color;
  } @else if ($direction == inset-right) {
    border-width: $width $height;
    border-style: solid;
    border-color: $background-color $background-color $background-color $foreground-color;
  } @else if ($direction == inset-left) {
    border-width: $width $height;
    border-style: solid;
    border-color: $background-color $foreground-color $background-color $background-color;
  }
}

@mixin banner() {
  width: 339px;
  height: 50px;
  font-size: 23px;
  margin-left: -2.2rem;
  margin-right: -10px;
  color: #ffffff;
  text-shadow: 1px 1px #444;
  &:before {
    @include triangle(10px, darken(white, 15%), up-right);
    bottom: -10px;
    left: 0;
  }
}

@mixin ribbon() {
  clear: both;
  position: relative;
  margin-top: 25px;
  margin-bottom: .2em;
  padding-top: .5rem;
  padding-left: 2rem;
  &:before, &:after {
    content: "";
    position: absolute;
  }
  @include banner();
  /*------------------------------
            Banner Colors
-------------------------------*/
  &.green {
    background-color: $greenBannerColor !important;
    &:before {
      border-top-color: darken($greenBannerColor, 16) !important;
    }
  }
  &.red {
    background-color: $redBannerColor !important;
    &:before {
      border-top-color: darken($redBannerColor, 16) !important;
    }
  }
  &.purple {
    background-color: $purpleBannerColor !important;
    &:before {
      border-top-color: darken($purpleBannerColor, 16) !important;
    }
  }
  &.orange {
    background-color: $orangeBannerColor !important;
    &:before {
      border-top-color: darken($orangeBannerColor, 16) !important;
    }
  }
}